# created by virtualenv automatically
# cada utilizador cria o seu proprio ambiente virtual - nao deve ir para o GitHub
.venv/
venv/
env/

# ficheiros temporarios do python nao interessam no github
__pycache__/
*.pyc

# Base de dados
*.db

# IDEs / Editores
.idea/
.vscode/

# relatorio gerado automaticamente
relatorio.html

#
build/
dist/
*.zip
*.rar